<div class="container-fluid">
  <app-search>

  </app-search>
    <div class="bodycontainer">
        <p class="pull-right">
            <a type="button" class="btn btn-collapse btn-sm" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-down"></i> Sidebar</a>
        </p>
        <mat-sidenav-container class="example-container" [hasBackdrop]="false">
          <mat-sidenav-content>
              <app-map></app-map>
          </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
  </div>
<app-footer>

</app-footer>
